/*******************************************************************************
  REACT-APP : INDEX
*******************************************************************************/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.form-input{
  width:50%;
  height: 36px;

background: #FFFFFF;
border: 0.5px solid #D1D1D6;
box-sizing: border-box;
border-radius: 5px;
}

.sign-x-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin:auto 50px;
}

.sign-x-label{
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 38px;
/* or 271% */

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


color: #0D1124;
}
